In [112]:
import json
import pandas as pd

In [ ]:
# Load player ratings and player info data from JSON files
with open("./data/players_rating copy.json", "r", encoding='utf-8') as f:
    players_stats = json.load(f)

with open("./data/players_info.json", "r", encoding='utf-8') as f:
    players_info = json.load(f)

In [157]:
# Create a DataFrame from the players_stats list
df=pd.DataFrame(players_stats)
df.head(4)

,player_url,image_url,rank,player,nationality,team,position,rating,pace,shooting,...,dribbling,defending,physicality,player_id,pac_chg,sho_chg,pas_chg,dri_chg,def_chg,phy_chg
0,https://www.ea.com/games/ea-sports-fc/ratings/...,https://ratings-images-prod.pulse.ea.com/FC25/...,1,#1Kylian Mbappé,France,Real Madrid,ST,91,97,90,...,92,36,78,231747,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.ea.com/games/ea-sports-fc/ratings/...,https://ratings-images-prod.pulse.ea.com/FC25/...,2,#2Rodri,Spain,Manchester City,CDM,91,668,807,...,844,872,851,231866,"[Table_statChange__2wUIg, generated_utility20_...","[Table_statChange__2wUIg, generated_utility20_...","[Table_statChange__2wUIg, generated_utility20_...","[Table_statChange__2wUIg, generated_utility20_...","[Table_statChange__2wUIg, generated_utility20_...","[Table_statChange__2wUIg, generated_utility20_..."
2,https://www.ea.com/games/ea-sports-fc/ratings/...,https://ratings-images-prod.pulse.ea.com/FC25/...,3,#3Aitana Bonmatí,Spain,FC Barcelona,CM,91,81,862,...,91,772,752,241667,NaN,"[Table_statChange__2wUIg, generated_utility20_...","[Table_statChange__2wUIg, generated_utility20_...",NaN,"[Table_statChange__2wUIg, generated_utility20_...","[Table_statChange__2wUIg, generated_utility20_..."
3,https://www.ea.com/games/ea-sports-fc/ratings/...,https://ratings-images-prod.pulse.ea.com/FC25/...,4,#4Erling Haaland,Norway,Manchester City,ST,91,881,921,...,811,45,88,239085,"[Table_statChange__2wUIg, generated_utility20_...","[Table_statChange__2wUIg, generated_utility20_...","[Table_statChange__2wUIg, generated_utility20_...","[Table_statChange__2wUIg, generated_utility20_...",NaN,NaN

In [158]:
# Remove the rank prefix (e.g., '#1') from the 'player' column in the dataframe
df.player = df.player.str.replace(r'#\d+', '', regex=True)

In [159]:
# This function determines whether a player's attribute rating has incresed or decreased and extract value from its base column

#   row        - A single row of the dataframe
#   base_col   - Column containing the rating (e.g., pac, sho, phy etc.),
#   change_col - Column containing a list of CSS class names that indicate if the change 
#                is positive (2 classes) or negative (3 classes). (eg. pac_chg, sho_chg, phy_chg etc.)
#
# Logic:
#   1. Extract the numeric change value from base_col (default = 0 if invalid).
#   2. If change_col is not a list or is empty -> return 0.
#   3. If change_col has 2 class names -> rating increased -> return +extracted.
#   4. If change_col has 3 class names -> rating decreased -> return -extracted.



def extract_attribute_change(row, base_col, change_col):
    base_val = row[base_col]
    change_val = row[change_col]

    # Extract number from base_col (starting at 3rd character)
    if isinstance(base_val, str) and len(base_val) >= 3:
        try:
            extracted = int(base_val[2:])
        except ValueError:
            extracted = 0
    else:
        extracted = 0

    # Apply logic based on change_col
    if not isinstance(change_val, list) or len(change_val) == 0:
        return 0
    elif len(change_val) == 2:
        return extracted
    elif len(change_val) == 3:
        return -extracted

In [160]:
# Apply the extract_attribute_change function to each row to calculate attribute changes for pace, shooting, passing, dribbling, defending, and physicality

df['pac_chg'] = df.apply(lambda row: extract_attribute_change(row, 'pace', 'pac_chg'), axis=1)
df['sho_chg'] = df.apply(lambda row: extract_attribute_change(row, 'shooting', 'sho_chg'), axis=1)
df['pas_chg'] = df.apply(lambda row: extract_attribute_change(row, 'passing', 'pas_chg'), axis=1)
df['dri_chg'] = df.apply(lambda row: extract_attribute_change(row, 'dribbling', 'dri_chg'), axis=1)
df['def_chg'] = df.apply(lambda row: extract_attribute_change(row, 'defending', 'def_chg'), axis=1)
df['phy_chg'] = df.apply(lambda row: extract_attribute_change(row, 'physicality', 'phy_chg'), axis=1)

In [161]:
# Extract the first two digits from the 'pace', 'shooting', 'passing', 'dribbling', 'defending', and 'physicality' columns.
# This is necessary because some values contain extra digits or are not in the expected format.
# The extracted values will be used as the main attribute ratings for each player.

df.pace = df['pace'].str.extract(r'(\d{2})', expand=False)
df.shooting = df['shooting'].str.extract(r'(\d{2})', expand=False)
df.passing = df['passing'].str.extract(r'(\d{2})', expand=False)
df.dribbling = df['dribbling'].str.extract(r'(\d{2})', expand=False)
df.defending = df['defending'].str.extract(r'(\d{2})', expand=False)
df.physicality = df['physicality'].str.extract(r'(\d{2})', expand=False)

Fixing the data types of columns

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17470 entries, 0 to 17469
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   player_url   17470 non-null  object
 1   image_url    17470 non-null  object
 2   rank         17470 non-null  object
 3   player       17470 non-null  object
 4   nationality  17470 non-null  object
 5   team         17470 non-null  object
 6   position     17470 non-null  object
 7   rating       17470 non-null  object
 8   pace         17470 non-null  object
 9   shooting     17470 non-null  object
 10  passing      17470 non-null  object
 11  dribbling    17470 non-null  object
 12  defending    17470 non-null  object
 13  physicality  17470 non-null  object
 14  player_id    17470 non-null  object
 15  pac_chg      17470 non-null  int64
 16  sho_chg      17470 non-null  int64
 17  pas_chg      17470 non-null  int64
 18  dri_chg      17470 non-null  int64
 19  def_chg      17470 non-null  int64
 20  phy_chg      17470 non-null  int64
dtypes: int64(6), object(15)
memory usage: 2.8+ MB

In [162]:
# Convert columns in 'numeric_cols' to numeric type (Int64), coercing errors to NaN.
# This ensures that rank, rating, pace, shooting, passing, dribbling, defending, and physicality are all stored as integers.

numeric_cols = ['rank','rating', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physicality']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce').astype('Int64')

Let's drop columns player_url and image_url before loading into MySQL Server

In [170]:
df.drop(columns=['player_url', 'image_url'], inplace=True)

Loading into MySQL Server

In [171]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine, text

load_dotenv()
password = os.getenv("DB_PASSWORD")

# Connect to MySQL server (no database yet)
engine = create_engine(f'mysql+pymysql://root:{password}@localhost:3306')

# Create the database
with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS fifa_25"))
    print("Database created or already exists.")

# Now connect to fifa_25
engine = create_engine(f"mysql+pymysql://root:{password}@localhost:3306/fifa_25")

Database created or already exists.

In [172]:
# And finally load player_rating into mysql
df.to_sql("players_rating", con=engine, if_exists="replace", index=False)

17470

### Now let's transform and load Players Info data

In [173]:
df2=pd.DataFrame(players_info)
df2.head(3)

,weak_foot,skill_move,preferred_foot,height,weight,alt_positions,age,league,team,player_id
0,4/5,5/5,Right,"182cm / 6'0""",75kg / 165lb,[{'position': 'LW'}],26,LALIGA EA SPORTS,Real Madrid,231747
1,4/5,3/5,Right,"191cm / 6'3""",82kg / 181lb,[{'position': 'CM'}],29,Premier League,Manchester City,231866
2,5/5,4/5,Right,"162cm / 5'4""",53kg / 117lb,[{'position': 'CAM'}],27,Liga F,FC Barcelona,241667

In [174]:
# Split 'weak_foot' and 'skill_move' columns to keep only the first value before '/'
df2[['weak_foot', 'skill_move']] = df2[['weak_foot', 'skill_move']].apply(lambda col: col.str.split('/').str[0])

# Extract numeric value (in cm) from the 'height' column
df2['height'] = df2['height'].str.extract(r'(\d+)\s*cm')

# Extract numeric value (in kg) from the 'weight' column
df2['weight'] = df2['weight'].str.extract(r'(\d+)\s*kg')

# Convert 'alt_positions' from a list of dicts to a comma-separated string of positions
df2['alt_positions'] = df2['alt_positions'].apply(lambda x: [d['position'] for d in x] if isinstance(x, list) else [])
df2['alt_positions'] = df2['alt_positions'].apply(lambda x: ', '.join(x) if isinstance(x, list) else '')

Let's create new table with unique pair of 'team' and 'league'

In [ ]:
# Create df3 with column 'league' which contains only unique league names
df3 = df2[['league']].drop_duplicates()
df3.to_csv("data/league_names.csv", index=False)

*Here i used copilot to create new column gender with values M for Male leagues and F for Female leagues*

In [178]:
df3=pd.read_csv("data/league_names.csv")
df3

                     league gender
0          LALIGA EA SPORTS      M
1            Premier League      M
2                    Liga F      F
3              Barclays WSL      F
4                Bundesliga      M
5        Ligue 1 McDonald's      M
6                      NWSL      F
7                 Arkema PL      F
8           Serie A Enilive      M
9                       MLS      M
10       Trendyol Süper Lig      M
11                    GPFBL      F
12       ROSHN Saudi League      M
13       Calcio A Femminile      F
14            Liga Portugal      M
15             Libertadores      M
16                Serie BKT      M
17   Nederland Vrouwen Liga      F
18             Sverige Liga      F
19               Eredivisie      M
20            1A Pro League      M
21   Liga Portugal Feminino      F
22            Liga Hrvatska      M
23            Scottish Prem      M
24         Primera División      M
25              Hellas Liga      M
26   United Emirates League      M
27           Ceska Liga Žen      F
28               Česká Liga      M
29              Magyar Liga      M
30                      CSL      M
31  Scottish Women's League      F
32             Sudamericana      M
33            Ukrayina Liha      M
34       LALIGA HYPERMOTION      M
35            Ö. Bundesliga      M
36         EFL Championship      M
37              Ligue 2 BKT      M
38            Liga Colombia      M
39             Bundesliga 2      M
40              Eliteserien      M
41             3F Superliga      M
42               K League 1      M
43                     CSSL      M
44              Liga Cyprus      M
45              Allsvenskan      M
46          Liga Azerbaijan      M
47                 A-League      M
48       PKO BP Ekstraklasa      M
49     Schweizer Damen Liga      F
50                SUPERLIGA      M
51           EFL League One      M
52                      ISL      M
53                  3. Liga      M
54        SSE Airtricity PD      M
55           EFL League Two      M
56                Finnliiga      M

Now add new column 'gender' into the df2 from df3 and loading the players info into database

In [182]:
df2['gender'] = df2['league'].map(df3.set_index('league')['gender'])

df2.to_sql("players_info", con=engine, if_exists="replace", index=False)

17470